*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(163, 163, 163);
}

.container h1{
    font-size: 2.5rem;
}

span{
    font-size: 7rem;
}

.button-container{
    margin: 20px 0;
}

.btn{
    padding:  0.5rem 1rem;
    background-color: transparent;
    color: black;
    border-radius: 9px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all .5s;
    cursor: pointer;
    margin: 0 10px;
    border: solid black 2px;
    font-stretch: expanded;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
}

.btn:hover{
    border: solid white 2px;
    background-color: black;
    color: white;
}